# Data Science Tools and Ecosystem

## Author
Teodoro Nicolas S. Dulay II

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- use markdown to show various text formats
- list popular languages for Data Science
- list commonly used libraries for Data Science
- list open source Data Science tools
- perform arithmetic operations using Python code

Some of the popular langauges that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib
4. seaborn

| Data Science Tools |
| ---- |
| Jupyter Notebooks |
| Jupyter Lab |
| Spyder |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in python:

In [15]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [25]:
# This will convert 200 minutes to hours by dividing 200 by 60.
x = 200/60
print(x,"hours")

3.3333333333333335 hours